<a href="https://colab.research.google.com/github/virf96/Basico/blob/main/Estabilidad_y_performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estabilidad y performance

## Preparación de ambiente

### Carga de módulos

In [3]:
pip install pygal

Collecting pygal
  Downloading https://files.pythonhosted.org/packages/5f/b7/201c9254ac0d2b8ffa3bb2d528d23a4130876d9ba90bc28e99633f323f17/pygal-2.4.0-py2.py3-none-any.whl (127kB)
     |████████████████████████████████| 133kB 6.4MB/s
Installing collected packages: pygal
Successfully installed pygal-2.4.0

In [4]:
from sklearn.feature_selection import SelectKBest, f_classif, f_regression
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score, r2_score
from datetime import datetime
import pandas as pd
import numpy as np
import pygal

### Funciones relevantes

In [5]:
# Función que regresa el IV de la variable provista
def IV(df, var, tgt):
    aux = df[[var, tgt]].groupby(var).agg(["count", "sum"])
    aux["evento"] = aux[tgt, "sum"]
    aux["no_evento"] = aux[tgt, "count"] - aux[tgt, "sum"]
    aux["%evento"] = aux["evento"] / aux["evento"].sum()
    aux["%no_evento"] = aux["no_evento"] / aux["no_evento"].sum()
    aux["WOE"] = np.log(aux["%no_evento"] / aux["%evento"])
    aux["IV"] = (aux["%no_evento"] - aux["%evento"])*aux["WOE"]
    return aux["IV"].sum()

### Data Wrangling

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
df = pd.read_csv("/content/drive/MyDrive/datasets/OnlineNewsPopularity.csv").sample(frac = 0.1).reset_index(drop = True)

df.columns = [x.strip() for x in df.columns] # Remoción de espacio de las columas (' hola ' -> 'hola')

df["success"] = (df["shares"] > df["shares"].quantile(.5))*1 # Generación de variable objetivo discreta

ls_cont = ['n_tokens_title', 'n_tokens_content', 'n_unique_tokens', 'n_non_stop_words', 
           'n_non_stop_unique_tokens', 'num_hrefs', 'num_self_hrefs', 'num_imgs', 'num_videos', 
           'average_token_length', 'num_keywords', 'kw_min_min', 'kw_max_min', 'kw_avg_min', 
           'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg', 'kw_max_avg', 'kw_avg_avg', 
           'self_reference_min_shares', 'self_reference_max_shares', 'self_reference_avg_sharess', 
           'LDA_00', 'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity', 
           'global_sentiment_polarity', 'global_rate_positive_words', 'global_rate_negative_words',
           'rate_positive_words', 'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity',
           'max_positive_polarity', 'avg_negative_polarity', 'min_negative_polarity', 
           'max_negative_polarity', 'title_subjectivity', 'title_sentiment_polarity', 
           'abs_title_subjectivity', 'abs_title_sentiment_polarity']
target = "shares"
target_disc = "success"

In [8]:
df

                                                    url  ...  success
0     http://mashable.com/2013/04/10/nhl-team-trolls...  ...        0
1              http://mashable.com/2013/03/05/getgoing/  ...        1
2     http://mashable.com/2013/09/17/jumpstagram-pho...  ...        0
3     http://mashable.com/2014/05/06/aol-buys-conver...  ...        0
4     http://mashable.com/2013/02/17/tech-inspired-r...  ...        1
...                                                 ...  ...      ...
3959    http://mashable.com/2013/08/15/facebook-paypal/  ...        1
3960         http://mashable.com/2013/01/09/google-flu/  ...        1
3961  http://mashable.com/2013/10/30/roomba-light-show/  ...        1
3962  http://mashable.com/2013/01/22/kate-upton-merc...  ...        0
3963   http://mashable.com/2013/08/01/moto-x-announced/  ...        1

[3964 rows x 62 columns]

In [10]:
df["date"] = pd.to_datetime(df["url"].str.split("/").str[3:6].str.join("/")) # Obtención de fecha

In [11]:
df["date"].dt.strftime("%Y-%m-01")

0       2013-04-01
1       2013-03-01
2       2013-09-01
3       2014-05-01
4       2013-02-01
           ...
3959    2013-08-01
3960    2013-01-01
3961    2013-10-01
3962    2013-01-01
3963    2013-08-01
Name: date, Length: 3964, dtype: object

In [12]:
df["month"] = df["date"].dt.strftime("%Y-%m-01") # Generación de mes

In [13]:
sorted(df["month"].unique())

['2013-01-01',
 '2013-02-01',
 '2013-03-01',
 '2013-04-01',
 '2013-05-01',
 '2013-06-01',
 '2013-07-01',
 '2013-08-01',
 '2013-09-01',
 '2013-10-01',
 '2013-11-01',
 '2013-12-01',
 '2014-01-01',
 '2014-02-01',
 '2014-03-01',
 '2014-04-01',
 '2014-05-01',
 '2014-06-01',
 '2014-07-01',
 '2014-08-01',
 '2014-09-01',
 '2014-10-01',
 '2014-11-01',
 '2014-12-01']

In [14]:
validate = df[df["date"] >= datetime(2014, 6, 1)].reset_index(drop = True).copy() # Generación de validate por fecha
train = df.drop(index = validate.index).reset_index(drop = True).copy()

In [15]:
train = train[train[target] <= 32000].reset_index(drop = True) # Remoción de outlier en target

In [16]:
# Separación de datos
Xt = train[ls_cont]
yr = train[target]
yc = train[target_disc]

## Modelado

#### Clasificador

In [17]:
logreg = LogisticRegression()

In [18]:
logreg.fit(Xt, yc)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
# Cross validation
ls_score = cross_val_score(estimator=logreg, X = Xt, y=yc, n_jobs=-1, scoring="roc_auc", cv = 4)

In [20]:
np.mean(ls_score), np.std(ls_score)

(0.6117698492432982, 0.01696194108397957)

In [22]:
validate["yc_hat"] = logreg.predict(validate[ls_cont]) # Predicción de si el artículo será exitoso o no

In [27]:
validate["yc_hat"]

0       1
1       0
2       1
3       0
4       0
       ..
1400    0
1401    0
1402    0
1403    0
1404    1
Name: yc_hat, Length: 1405, dtype: int64

### Regresión

In [28]:
yr

0       2300
1        574
2       2700
3        638
4       4400
        ...
2526    2500
2527    5600
2528    6500
2529    1000
2530    1800
Name: shares, Length: 2531, dtype: int64

In [29]:
linreg = Ridge()

In [30]:
linreg.fit(Xt, yr)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [31]:
ls_score = cross_val_score(estimator=linreg, X = Xt, y=yr, n_jobs=-1, scoring="r2", cv = 4)

In [32]:
np.mean(ls_score), np.std(ls_score)

(0.047197233683346634, 0.017711455551925784)

In [33]:
validate["yr_hat"] = linreg.predict(validate[ls_cont]) # Generación de predicción

In [34]:
validate["yr_hat"]

0       4362.550413
1       1307.610513
2       2307.089708
3       1979.035009
4       2379.767211
           ...
1400    1518.544691
1401    1371.283761
1402    1530.856755
1403    1980.853447
1404    2591.261522
Name: yr_hat, Length: 1405, dtype: float64

In [35]:
validate

                                                    url  ...       yr_hat
0       http://mashable.com/2014/10/17/turbo-wheelchar/  ...  4362.550413
1     http://mashable.com/2014/11/24/jurassic-world-...  ...  1307.610513
2     http://mashable.com/2014/06/23/american-idol-j...  ...  2307.089708
3     http://mashable.com/2014/09/26/isis-influence-...  ...  1979.035009
4     http://mashable.com/2014/07/28/goat-stuck-in-a...  ...  2379.767211
...                                                 ...  ...          ...
1400  http://mashable.com/2014/12/12/united-airlines...  ...  1518.544691
1401  http://mashable.com/2014/11/17/supernatural-mi...  ...  1371.283761
1402  http://mashable.com/2014/11/14/kenya-mydressmy...  ...  1530.856755
1403  http://mashable.com/2014/09/24/cash-smartwatch...  ...  1980.853447
1404  http://mashable.com/2014/06/25/the-star-wars-e...  ...  2591.261522

[1405 rows x 66 columns]

## Estabilidad y performance

### PSI

In [37]:
dc_bins = {}
for feat in ls_cont:
    dc_bins.update({feat: pd.cut(Xt[feat], bins=3, retbins=True)[1]})

In [38]:
dc_bins

{'LDA_00': array([0.0172815 , 0.31878804, 0.61939276, 0.91999749]),
 'LDA_01': array([0.01728182, 0.31869151, 0.61919968, 0.91970785]),
 'LDA_02': array([0.0172801 , 0.31878723, 0.61939254, 0.91999785]),
 'LDA_03': array([0.01728021, 0.31877841, 0.61937482, 0.91997124]),
 'LDA_04': array([0.01728317, 0.32119172, 0.62419126, 0.92719081]),
 'abs_title_sentiment_polarity': array([-0.001     ,  0.33333333,  0.66666667,  1.        ]),
 'abs_title_subjectivity': array([-0.0005    ,  0.16666667,  0.33333333,  0.5       ]),
 'average_token_length': array([-7.97468354e-03,  2.65822785e+00,  5.31645570e+00,  7.97468354e+00]),
 'avg_negative_polarity': array([-1.001     , -0.66666667, -0.33333333,  0.        ]),
 'avg_positive_polarity': array([-0.0008    ,  0.26666667,  0.53333333,  0.8       ]),
 'global_rate_negative_words': array([-0.00013693,  0.04564315,  0.09128631,  0.13692946]),
 'global_rate_positive_words': array([-0.00013223,  0.04407713,  0.08815427,  0.1322314 ]),
 'global_sentiment_polarity': array([-0.36523787, -0.036426  ,  0.29140238,  0.61923077]),
 'global_subjectivity': array([-0.00095   ,  0.31666667,  0.63333333,  0.95      ]),
 'kw_avg_avg': array([  -20.37763843,  6792.5461437 , 13585.0922874 , 20377.6384311 ]),
 'kw_avg_max': array([  -843.3, 281100. , 562200. , 843300. ]),
 'kw_avg_min': array([  -17.3314,  5442.8   , 10886.6   , 16330.4   ]),
 'kw_max_avg': array([  -136.22      ,  45406.66666667,  90813.33333333, 136220.        ]),
 'kw_max_max': array([  -843.3, 281100. , 562200. , 843300. ]),
 'kw_max_min': array([  -81.2       , 27066.66666667, 54133.33333333, 81200.        ]),
 'kw_min_avg': array([  -3.59051314, 1196.83771464, 2393.67542929, 3590.51314393]),
 'kw_min_max': array([  -843.3, 281100. , 562200. , 843300. ]),
 'kw_min_min': array([ -1.218     ,  71.66666667, 144.33333333, 217.        ]),
 'max_negative_polarity': array([-1.001     , -0.66666667, -0.33333333,  0.        ]),
 'max_positive_polarity': array([-0.001     ,  0.33333333,  0.66666667,  1.        ]),
 'min_negative_polarity': array([-1.001     , -0.66666667, -0.33333333,  0.        ]),
 'min_positive_polarity': array([-0.0008    ,  0.26666667,  0.53333333,  0.8       ]),
 'n_non_stop_unique_tokens': array([-0.00096809,  0.32269503,  0.64539006,  0.9680851 ]),
 'n_non_stop_words': array([-0.001     ,  0.33333333,  0.66666667,  1.        ]),
 'n_tokens_content': array([  -5.562, 1854.   , 3708.   , 5562.   ]),
 'n_tokens_title': array([ 1.985,  7.   , 12.   , 17.   ]),
 'n_unique_tokens': array([-0.00091304,  0.30434782,  0.60869564,  0.91304346]),
 'num_hrefs': array([ -0.171,  57.   , 114.   , 171.   ]),
 'num_imgs': array([ -0.1       ,  33.33333333,  66.66666667, 100.        ]),
 'num_keywords': array([ 0.991,  4.   ,  7.   , 10.   ]),
 'num_self_hrefs': array([-0.074     , 24.66666667, 49.33333333, 74.        ]),
 'num_videos': array([-0.049     , 16.33333333, 32.66666667, 49.        ]),
 'rate_negative_words': array([-0.001     ,  0.33333333,  0.66666667,  1.        ]),
 'rate_positive_words': array([-0.001     ,  0.33333333,  0.66666667,  1.        ]),
 'self_reference_avg_sharess': array([  -843.3, 281100. , 562200. , 843300. ]),
 'self_reference_max_shares': array([  -843.3, 281100. , 562200. , 843300. ]),
 'self_reference_min_shares': array([  -843.3, 281100. , 562200. , 843300. ]),
 'title_sentiment_polarity': array([-1.002     , -0.33333333,  0.33333333,  1.        ]),
 'title_subjectivity': array([-0.001     ,  0.33333333,  0.66666667,  1.        ])}

In [39]:
len(ls_cont)

44

In [43]:
pd.cut(Xt[feat], bins=dc_bins[feat]).value_counts(True).reset_index().rename(columns = {feat: f"{feat}_train"}) # Segmentación de variable continua

          index  n_tokens_title_train
0   (7.0, 12.0]              0.766495
1  (12.0, 17.0]              0.150533
2  (1.985, 7.0]              0.082971

In [44]:
pd.cut(validate.loc[validate["month"] == mes, feat], bins=dc_bins[feat]).value_counts(True).reset_index().rename(columns = {feat: f"{feat}_valid"}) # Aplicación de segmentos a validación

          index  n_tokens_title_valid
0   (7.0, 12.0]              0.697297
1  (12.0, 17.0]              0.264865
2  (1.985, 7.0]              0.037838

In [40]:
# Cálculo de PSI
for feat in dc_bins.keys():
    for mes in sorted(validate["month"].unique()):
        aux_t = pd.cut(Xt[feat], bins=dc_bins[feat]).value_counts(True).reset_index().rename(columns = {feat: f"{feat}_train"}) # Segmentación de variable continua
        aux_v = pd.cut(validate.loc[validate["month"] == mes, feat], bins=dc_bins[feat]).value_counts(True).reset_index().rename(columns = {feat: f"{feat}_valid"}) # Aplicación de segmentos a validación
        aux = aux_t.merge(aux_v, on = "index")
        aux["diff"] = aux[f"{feat}_valid"] - aux[f"{feat}_train"] # Diferencia en proporciones
        aux["log"] = np.log(aux[f"{feat}_valid"] / aux[f"{feat}_train"]) # Logaritmo del cociente de proporciones
        aux["PSI"] = aux["diff"] * aux["log"] # Cálculo de PSI por rango
        print(f'PSI of {feat} in {mes}: {aux["PSI"].sum()}') # Impresión de PSI total de la variable
    break

PSI of n_tokens_title in 2014-06-01: 0.015667277954755088
PSI of n_tokens_title in 2014-07-01: 0.04759585590476128
PSI of n_tokens_title in 2014-08-01: 0.027460622591979417
PSI of n_tokens_title in 2014-09-01: 0.03843564964186774
PSI of n_tokens_title in 2014-10-01: 0.08935640322151851
PSI of n_tokens_title in 2014-11-01: 0.11359997625031418
PSI of n_tokens_title in 2014-12-01: 0.10658652269453639

### Desempeño de poder predictivo

In [46]:
for feat in ls_cont:
    for mes in sorted(validate["month"].unique()):
        kb = SelectKBest(k=1, score_func=f_classif) # Medición de poder predictivo
        kb.fit(validate.loc[validate["month"] == mes, [feat]], validate.loc[validate["month"] == mes, "shares"]) # Segmentación por mes
        print(f'Predictive power of {feat} in {mes}: {kb.scores_[0]}') # Muestra de poder predictivo
    break

Predictive power of n_tokens_title in 2014-06-01: 0.9416357880905367
Predictive power of n_tokens_title in 2014-07-01: 0.9235593438033854
Predictive power of n_tokens_title in 2014-08-01: 1.1451015382651484
Predictive power of n_tokens_title in 2014-09-01: 0.7706311146078957
Predictive power of n_tokens_title in 2014-10-01: 0.7637900617623378
Predictive power of n_tokens_title in 2014-11-01: 1.1831651085783175
Predictive power of n_tokens_title in 2014-12-01: 1.0492023975884752

In [47]:
# Prueba de poder predictivo discreta (IV)
for feat in ls_cont:
    for mes in sorted(validate["month"].unique()):
        validate[f"C_{feat}"] = pd.cut(validate[feat], bins=dc_bins[feat])
        print(f'Predictive power of {feat} in {mes}: {IV(validate[validate["month"] == mes], f"C_{feat}", "success")}')
    break

Predictive power of n_tokens_title in 2014-06-01: 0.012847599708707493
Predictive power of n_tokens_title in 2014-07-01: 0.07239900057035413
Predictive power of n_tokens_title in 2014-08-01: 0.07748413970215284
Predictive power of n_tokens_title in 2014-09-01: 0.05510783176573454
Predictive power of n_tokens_title in 2014-10-01: 0.06906678271419386
Predictive power of n_tokens_title in 2014-11-01: 0.010765678543019653
Predictive power of n_tokens_title in 2014-12-01: 0.12348900866895923

### Estabilidad de las características

In [48]:
# Estabilidad de características
for feat in dc_bins.keys():
    for mes in sorted(validate["month"].unique()):
        aux_t = pd.cut(Xt[feat], bins=dc_bins[feat]).value_counts(True).reset_index().rename(columns = {feat: f"{feat}_train"})
        aux_v = pd.cut(validate.loc[validate["month"] == mes, feat], bins=dc_bins[feat]).value_counts(True).reset_index().rename(columns = {feat: f"{feat}_valid"})
        aux = aux_t.merge(aux_v, on = "index")
        aux["diff"] = abs(aux[f"{feat}_valid"] - aux[f"{feat}_train"])
        print(f'Stability KS of {feat} in {mes}: {max(aux["diff"])}')
    break

Stability KS of n_tokens_title in 2014-06-01: 0.052209742055652764
Stability KS of n_tokens_title in 2014-07-01: 0.06202700045999654
Stability KS of n_tokens_title in 2014-08-01: 0.061901847147188355
Stability KS of n_tokens_title in 2014-09-01: 0.0695623077664709
Stability KS of n_tokens_title in 2014-10-01: 0.11937811841134532
Stability KS of n_tokens_title in 2014-11-01: 0.13041899493894754
Stability KS of n_tokens_title in 2014-12-01: 0.11433147885143147

### Performance

In [49]:
# Evaluación de la precisión del modelo en "producción" (discreto)
for month in sorted(validate["month"].unique()):
    aux = validate[validate["month"] == month]
    print(month, roc_auc_score(y_score=aux["yc_hat"], y_true=aux["success"]))

2014-06-01 0.5520094562647754
2014-07-01 0.5869747899159664
2014-08-01 0.5858932461873638
2014-09-01 0.5907497565725414
2014-10-01 0.5635714285714286
2014-11-01 0.5511982570806101
2014-12-01 0.5867172211350293

In [ ]:
# Evaluación de la precisión del modelo en "producción" (discreto)
for month in sorted(validate["month"].unique()):
    aux = validate[validate["month"] == month]
    print(month, r2_score(y_pred=aux["yr_hat"], y_true=aux["shares"]))

2014-06-01 0.07024789483329263
2014-07-01 0.04254027626184553
2014-08-01 0.2176554592639166
2014-09-01 0.04477424748926395
2014-10-01 0.023943431449284347
2014-11-01 0.017838620440488673
2014-12-01 0.054856684218126395